In [4]:
import pandas as pd

In [5]:
# Create a dictionary
data = {
    "apple":[2,3,4,5,6],
    "oranges":[8,4,7,5,4]
}

In [6]:
data

{'apple': [2, 3, 4, 5, 6], 'oranges': [8, 4, 7, 5, 4]}

In [7]:
print(data)

{'apple': [2, 3, 4, 5, 6], 'oranges': [8, 4, 7, 5, 4]}

In [8]:
fruits = pd.DataFrame(data)

In [9]:
fruits

   apple  oranges
0      2        8
1      3        4
2      4        7
3      5        5
4      6        4

In [10]:
print(fruits)

   apple  oranges
0      2        8
1      3        4
2      4        7
3      5        5
4      6        4

In [11]:
purchases = pd.DataFrame(data,index=["Jan" , "Rob", "Lilly", "Dave", "Kenny"])

In [12]:
purchases

       apple  oranges
Jan        2        8
Rob        3        4
Lilly      4        7
Dave       5        5
Kenny      6        4

In [13]:
# Locate a customers order by their name
purchases.loc["Rob"]

apple      3
oranges    4
Name: Rob, dtype: int64

In [14]:
df = pd.read_csv('/home/peter/Documents/DSProject/Data.csv')

In [15]:
df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [16]:
df = pd.read_csv('/home/peter/Documents/DSProject/Data.csv',index_col=0)

/home/peter/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [17]:
df

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [19]:
import json
# JSON - Javasript Object Notation

In [22]:
#Data Operations
mydata_df = pd.read_csv('/home/peter/Documents/DSProject/Data.csv')

In [23]:
mydata_df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [24]:
mydata_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [25]:
mydata_df.tail()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [26]:
mydata_df.head(10)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN
5,5,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,1.066667,2.3,0,26.0
6,6,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.937500,2.6,23,NaN,Parts per million,0.850000,1.6,23,NaN
7,7,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.937500,2.6,23,NaN,Parts per million,1.066667,2.3,0,26.0
8,8,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,...,Parts per billion,5.250000,11.0,19,16.0,Parts per million,1.929167,4.4,8,NaN
9,9,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,...,Parts per billion,5.250000,11.0,19,16.0,Parts per million,1.762500,2.5,8,28.0

In [27]:
mydata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   State Code         int64
 2   County Code        int64
 3   Site Num           int64
 4   Address            object
 5   State              object
 6   County             object
 7   City               object
 8   Date Local         object
 9   NO2 Units          object
 10  NO2 Mean           float64
 11  NO2 1st Max Value  float64
 12  NO2 1st Max Hour   int64
 13  NO2 AQI            int64
 14  O3 Units           object
 15  O3 Mean            float64
 16  O3 1st Max Value   float64
 17  O3 1st Max Hour    int64
 18  O3 AQI             int64
 19  SO2 Units          object
 20  SO2 Mean           float64
 21  SO2 1st Max Value  float64
 22  SO2 1st Max Hour   int64
 23  SO2 AQI            float64
 24  CO Units           object
 25  CO Mean            float64
 26  CO 1st Max Value   float64
 27  CO 1st Max Hour    int64
 28  CO AQI             float64
dtypes: float64(10), int64(10), object(9)
memory usage: 386.5+ MB

In [29]:
mydata_df.shape

(1746661, 29)

In [30]:
temp = mydata_df.append(mydata_df)

In [31]:
temp.shape

(3493322, 29)

In [34]:
temp = temp.drop_duplicates()

In [36]:
temp.shape

(1746661, 29)

In [37]:
mydata_df.shape

(1746661, 29)

In [38]:
mydata_df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [40]:
# Working with Missing Values
mydata_df.isnull()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1746657,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1746658,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1746659,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
1746660,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [42]:
mydata_df.dropna(inplace=True)

In [43]:
mydata_df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
5,5,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,1.066667,2.3,0,26.0
9,9,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,...,Parts per billion,5.250000,11.0,19,16.0,Parts per million,1.762500,2.5,8,28.0
13,13,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-04,Parts per billion,...,Parts per billion,7.083333,16.0,8,23.0,Parts per million,1.829167,3.0,23,34.0
17,17,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-05,Parts per billion,...,Parts per billion,8.708333,15.0,7,21.0,Parts per million,2.700000,3.7,2,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746642,24585,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-27,Parts per billion,...,Parts per billion,-0.095238,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0
1746646,24589,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-28,Parts per billion,...,Parts per billion,0.117391,0.5,7,0.0,Parts per million,0.100000,0.1,0,1.0
1746650,24593,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-29,Parts per billion,...,Parts per billion,0.143750,0.7,8,0.0,Parts per million,0.006667,0.1,0,1.0
1746654,24597,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.016667,0.1,0,0.0,Parts per million,0.091667,0.1,2,1.0
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0

In [45]:
mydata_df.describe()

,Unnamed: 0,State Code,County Code,Site Num,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
count,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000,436876.000000
mean,54713.551958,22.309507,71.684636,1118.540066,12.822498,25.415907,11.730919,23.899230,0.026124,0.039203,10.170449,36.049204,1.881679,5.252270,8.789505,7.117386,0.369723,0.529222,6.255095,5.996258
std,33729.395175,17.257025,79.473190,2003.438008,9.505716,16.000756,7.877633,15.163655,0.011369,0.015343,4.003316,19.779243,2.761864,8.949573,6.803115,11.939231,0.316364,0.509962,7.842019,5.851589
min,1.000000,1.000000,1.000000,1.000000,-2.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000,-2.000000,0.000000,0.000000,-0.437500,-0.400000,0.000000,0.000000
25%,25748.000000,6.000000,17.000000,9.000000,5.750000,13.000000,5.000000,12.000000,0.017875,0.029000,9.000000,25.000000,0.265217,1.000000,3.000000,1.000000,0.191667,0.200000,0.000000,2.000000
50%,53046.500000,17.000000,59.000000,60.000000,10.739130,24.000000,9.000000,23.000000,0.025875,0.038000,10.000000,33.000000,1.000000,2.000000,8.000000,3.000000,0.295833,0.400000,2.000000,5.000000
75%,80338.250000,40.000000,97.000000,1039.000000,17.714286,35.700000,20.000000,33.000000,0.033917,0.048000,11.000000,42.000000,2.333333,6.000000,13.000000,9.000000,0.470833,0.700000,10.000000,8.000000
max,134573.000000,80.000000,650.000000,9997.000000,139.541667,267.000000,23.000000,132.000000,0.095083,0.141000,23.000000,218.000000,321.625000,351.000000,23.000000,200.000000,7.508333,15.500000,23.000000,201.000000

In [46]:
mydata_df.shape

(436876, 29)

In [47]:
mydata_df.corr()

,Unnamed: 0,State Code,County Code,Site Num,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
Unnamed: 0,1.000000,0.900460,0.314336,-0.250898,-0.178839,-0.158044,-0.012455,-0.159658,0.061159,0.016298,0.000027,0.017035,0.083272,0.103524,0.093512,0.104737,-0.274937,-0.254781,-0.051720,-0.258200
State Code,0.900460,1.000000,0.269233,-0.245222,-0.095773,-0.069868,0.017734,-0.070866,0.043036,0.036178,0.000842,0.033508,0.175772,0.176162,0.113467,0.183914,-0.219664,-0.187424,-0.029149,-0.189649
County Code,0.314336,0.269233,1.000000,-0.143881,-0.092673,-0.071307,-0.001949,-0.072814,0.054644,0.048181,-0.007296,0.040649,-0.007997,0.037607,0.013310,0.036757,-0.097341,-0.089093,-0.008823,-0.089077
Site Num,-0.250898,-0.245222,-0.143881,1.000000,0.070697,0.072435,-0.014086,0.073495,0.044079,0.090417,0.002924,0.083426,-0.081555,-0.074762,-0.067631,-0.076000,0.058165,0.066344,-0.003024,0.066055
NO2 Mean,-0.178839,-0.095773,-0.092673,0.070697,1.000000,0.904379,0.112622,0.905413,-0.432652,-0.151942,0.027216,-0.082316,0.348557,0.275799,0.116064,0.295323,0.638029,0.656564,0.245886,0.661074
NO2 1st Max Value,-0.158044,-0.069868,-0.071307,0.072435,0.904379,1.000000,0.148054,0.997857,-0.291842,0.009904,0.022337,0.048770,0.301891,0.259743,0.131994,0.277902,0.558832,0.605770,0.288329,0.611598
NO2 1st Max Hour,-0.012455,0.017734,-0.001949,-0.014086,0.112622,0.148054,1.000000,0.147269,-0.203177,-0.090479,-0.125726,-0.086771,0.026849,0.020483,0.170916,0.021062,0.038097,0.056524,0.301200,0.057694
NO2 AQI,-0.159658,-0.070866,-0.072814,0.073495,0.905413,0.997857,0.147269,1.000000,-0.291738,0.010353,0.022285,0.049047,0.305500,0.262776,0.130460,0.281351,0.561736,0.608663,0.288650,0.614497
O3 Mean,0.061159,0.043036,0.054644,0.044079,-0.432652,-0.291842,-0.203177,-0.291738,1.000000,0.860597,0.045824,0.768735,-0.110438,-0.066351,-0.084255,-0.070854,-0.331222,-0.353457,-0.217406,-0.355329
O3 1st Max Value,0.016298,0.036178,0.048181,0.090417,-0.151942,0.009904,-0.090479,0.010353,0.860597,1.000000,0.055566,0.931871,-0.015899,0.032784,-0.016113,0.034508,-0.178678,-0.180496,-0.101892,-0.179292
O3 1st Max Hour,0.000027,0.000842,-0.007296,0.002924,0.027216,0.022337,-0.125726,0.022285,0.045824,0.055566,1.000000,0.048432,0.026685,0.027732,-0.022299,0.029504,0.017268,0.006690,-0.086690,0.008634
O3 AQI,0.017035,0.033508,0.040649,0.083426,-0.082316,0.048770,-0.086771,0.049047,0.768735,0.931871,0.048432,1.000000,0.015828,0.049965,0.001867,0.051990,-0.126473,-0.131425,-0.078969,-0.130091
SO2 Mean,0.083272,0.175772,-0.007997,-0.081555,0.348557,0.301891,0.026849,0.305500,-0.110438,-0.015899,0.026685,0.015828,1.000000,0.814762,0.134714,0.828355,0.214664,0.201027,0.085292,0.204315
SO2 1st Max Value,0.103524,0.176162,0.037607,-0.074762,0.275799,0.259743,0.020483,0.262776,-0.066351,0.032784,0.027732,0.049965,0.814762,1.000000,0.163005,0.987703,0.143119,0.140981,0.065821,0.144478
SO2 1st Max Hour,0.093512,0.113467,0.013310,-0.067631,0.116064,0.131994,0.170916,0.130460,-0.084255,-0.016113,-0.022299,0.001867,0.134714,0.163005,1.000000,0.168276,0.037337,0.054632,0.144735,0.054968
SO2 AQI,0.104737,0.183914,0.036757,-0.076000,0.295323,0.277902,0.021062,0.281351,-0.070854,0.034508,0.029504,0.051990,0.828355,0.987703,0.168276,1.000000,0.156237,0.153620,0.070967,0.157649
CO Mean,-0.274937,-0.219664,-0.097341,0.058165,0.638029,0.558832,0.038097,0.561736,-0.331222,-0.178678,0.017268,-0.126473,0.214664,0.143119,0.037337,0.156237,1.000000,0.937485,0.121783,0.936898
CO 1st Max Value,-0.254781,-0.187424,-0.089093,0.066344,0.656564,0.605770,0.056524,0.608663,-0.353457,-0.180496,0.006690,-0.131425,0.201027,0.140981,0.054632,0.153620,0.937485,1.000000,0.188877,0.997300
CO 1st Max Hour,-0.051720,-0.029149,-0.008823,-0.003024,0.245886,0.288329,0.301200,0.288650,-0.217406,-0.101892,-0.086690,-0.078969,0.085292,0.065821,0.144735,0.070967,0.121783,0.188877,1.000000,0.193025
CO AQI,-0.258200,-0.189649,-0.089077,0.066055,0.661074,0.611598,0.057694,0.614497,-0.355329,-0.179292,0.008634,-0.130091,0.204315,0.144478,0.054968,0.157649,0.936898,0.997300,0.193025,1.000000

In [1]:
#Dataframe Slicing, Selecting and Extracting
mudata_df[[]]

NameError: name 'mudata_df' is not defined

In [2]:
test = df

NameError: name 'df' is not defined